<div class="container">
<h1>ユーザーコメント一覧</h1>

<table class="table table-bordered border">
  <thead>
    <tr>
      <th>投稿日時</th>
      <th>ユーザー名</th>
      <th>コメント</th>
      <th>退会ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @camps.each do |camp| %>
      <tr>
        <td><%= link_to camp.created_at, admin_camp_path(camp.id) %></td>
        <td><%= camp.name %></td>
        <td> <% camp.camp_details.each do |camp_detail| %>
            <% @quantity += order_detail.quantity %>
          <% end %>
          <%= @quantity %>
        </td>
        <td><%= order.status_i18n %></td>
      </tr>
    <% end %>
  </tbody>

</table>
<%= paginate @orders %>
</div>