<div>
  <%= flash[:notice] %>
</div>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%#= render 'users/list', user: @user, book_new: @book_new %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h1>Camp detail</h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="text-center">
              <%= link_to user_path(@user.id) do %>
                <%= image_tag @user.get_profile_image(100, 100), class: "img-thumbnail" %><br>
                <%= @user.name %>
              <% end %>
            </td>
            <td>
              <h3><%= @camp.title %></h3>
              <p><%= @camp.body %></p>
              <% if @camp.user == current_user %>
                <div class="btn-group">
                  <%= link_to "編集", edit_camp_path(@camp), class: "btn btn-success" %>
                  <%= link_to "削除", camp_path(@camp), method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-danger" %>
                </div>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>