<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-8 offset-md-1">
      <h1>キャンプ場詳細</h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="text-center">
              <%= link_to user_path(@user.id) do %>
                <%= image_tag @user.get_profile_image(100, 100), class: "img-thumbnail" %><br>
                <%= @user.name %>
              <% end %>
            </td>
            <td>
              <h3><%= @camp.title %></h3>
              <p><%= @camp.body %></p>
              <%= render "static_rate", camp: @camp %>
              <% if @camp.user == current_user %>
                <div class="btn-group">
                  <%= link_to "編集", edit_camp_path(@camp), class: "btn btn-success" %>
                  <%= link_to "削除", @camp, method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-danger" %>
                </div>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table
      <!-- 投稿フォームを追加 -->
              <%= form_with model:@camp_comment,local:true do |f| %>
                <div class="form-group">
                  <%= f.label "コメント" %>
                  <%= f.text_area :body, class: 'form-control camp_body' %>
                </div>
                <div class="form-group">
                  <%= f.submit "コメント投稿", class: "btn btn-primary" %>
                </div>
              <% end %>
    </div>
  </div>
</div>