<div class="container mt-5">
  <h2 class="mb-4">ユーザー登録情報</h2>

  <%= form_with model: @user, url: admin_user_path, method: :patch, local: true do |f| %>
    <div class="row">
      <tr>
        <label class="col-lg-3">ユーザーID</label>
        <div class="col-lg-3">
          <%= @user.id %>
        </div>
      </tr>
    </div><br>

    <div class="row">
      <tr>
        <label class="col-lg-3">ユーザー名</label>
        <div class="col-lg-3">
          <%= @user.name %>
        </div>
      </tr>
    </div><br>

    <div class="row">
      <tr>
        <label class="col-lg-3">メールアドレス</label>
        <div class="col-lg-3">
          <%= @user.email %>
        </div>
      </tr>
    </div><br>

    <div class="row">
      <div class="col-lg-3">
        <label>退会ステータス</label>
      </div>
      <div class="col-lg-9">
        <div class="form-check form-check-inline">
          <%= radio_button_tag 'user[is_withdrawal]', 'true', !@user.is_withdrawal, class: 'form-check-input' %>
          <%= label_tag 'withdrawal_status_active', '有効', class: 'form-check-label' %>
        </div>
        <div class="form-check form-check-inline">
          <%= radio_button_tag 'user[is_withdrawal]', 'false', @user.is_withdrawal, class: 'form-check-input' %>
          <%= label_tag 'withdrawal_status_withdrawn', '退会', class: 'form-check-label' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-9">
            <%= f.submit "変更を保存", class: "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
