<table class='table'>
  <tr><%= image_tag user.get_profile_image(100,100) %></tr>
  <tr>
	  <th>ユーザー名</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>自己紹介</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
	  <th>フォロー</th>
	  <th><%= link_to user.followings.count, user_followings_path(user) %></th>
  </tr>
  <tr>
	  <th>フォロワー</th>
	  <th><%= link_to user.followers.count, user_followers_path(user) %></th>
  </tr>

</table>

<div class='row'>
  <%= link_to edit_public_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>